In [62]:
import numpy as np
import pandas as pd
from genderize import Genderize

In [66]:
df = pd.read_csv("Bounce-Guests-2.csv", encoding='latin-1')
df["Date"] = pd.to_datetime(df["Date"])
df

,ï»¿Last Name,First Name,Scanned,txn,Amount_Paid,Price_Tier,Unknown,Date
0,kuchhal,nandini,False,completed,5,VIP,NaN,2021-10-18 19:27:19
1,Pandey,Mitul,False,completed,10,NaN,NaN,2021-10-17 21:29:54
2,Raveshia,Mishti,False,completed,5,EARLY BIRD PRICE,NaN,2021-10-17 02:27:17
3,Kapoor,Madhav,False,completed,5,EARLY BIRD PRICE,NaN,2021-10-17 02:28:29
4,gambhir,ameek,False,completed,5,EARLY BIRD PRICE,NaN,2021-10-17 06:41:11
...,...,...,...,...,...,...,...,...
323,verma,arav,False,completed,20,NaN,NaN,2021-10-19 21:05:39
324,Dhruv,Dhruv,False,completed,20,NaN,NaN,2021-10-19 22:16:03
325,NaN,Sum,False,completed,20,NaN,NaN,2021-10-19 21:12:47
326,Sarawagi,Aman,False,completed,20,NaN,NaN,2021-10-19 22:18:11
327,Hu,Vanessa,False,completed,5,VIP,NaN,2021-10-20 00:26:31

In [67]:
ticketsSold = {}
ticketsSold["5"] = df.query("Amount_Paid == 5").shape[0]
ticketsSold["15"] = df.query("Amount_Paid == 15").shape[0]
ticketsSold["20"] = df.query("Amount_Paid == 20").shape[0]

print(ticketsSold)

{'5': 120, '15': 82, '20': 59}

In [68]:
sorted_df = df.sort_values(by="Date")
sorted_df

,ï»¿Last Name,First Name,Scanned,txn,Amount_Paid,Price_Tier,Unknown,Date
119,Ralhan,Aanya,False,completed,5,NaN,NaN,2021-10-15 20:22:36
118,Bhasin,Khushi,False,completed,5,NaN,NaN,2021-10-15 20:24:51
120,Wei,Kathryn,False,completed,5,EARLY BIRD PRICE,NaN,2021-10-15 22:32:55
117,Sharma,Akshita,False,completed,5,EARLY BIRD PRICE,NaN,2021-10-15 22:55:08
115,s,pavit,False,completed,5,EARLY BIRD PRICE,NaN,2021-10-16 00:51:09
...,...,...,...,...,...,...,...,...
326,Sarawagi,Aman,False,completed,20,NaN,NaN,2021-10-19 22:18:11
322,Simonot,Veronica,False,completed,20,NaN,NaN,2021-10-19 22:22:30
225,Gupta,Ananya,False,completed,5,VIP,NaN,2021-10-20 00:21:17
327,Hu,Vanessa,False,completed,5,VIP,NaN,2021-10-20 00:26:31
42,Sachdeva,Muskaan,False,completed,5,VIP,NaN,2021-10-20 00:26:51

In [71]:
sorted_df_subset = sorted_df.query("Amount_Paid == 20")
#sorted_df_subset = sorted_df.sort_values(by="Date")
sorted_df_subset["Time_Between"] = sorted_df_subset["Date"] - sorted_df_subset["Date"].shift(1)

inter_time = sorted_df_subset["Time_Between"].mean()

rate_per_hour = np.timedelta64(1, 'h')/inter_time

print("Rate per hour: %.3f" % rate_per_hour)

sorted_df_subset

Rate per hour: 2.661

C:\Users\Ben\AppData\Local\Programs\Python\Python36-32\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ï»¿Last Name,First Name,Scanned,txn,Amount_Paid,Price_Tier,Unknown,Date,Time_Between
151,craven,michael,False,completed,20,NaN,NaN,2021-10-19 00:34:44,NaT
47,Serrano,Sofia,False,completed,20,NaN,NaN,2021-10-19 00:38:41,0 days 00:03:57
280,Kim,Henry,False,completed,20,NaN,NaN,2021-10-19 00:38:59,0 days 00:00:18
285,Tan Palanca,Kim,False,completed,20,NaN,NaN,2021-10-19 00:47:15,0 days 00:08:16
286,Thomas,Makena,False,completed,20,NaN,NaN,2021-10-19 01:51:38,0 days 01:04:23
287,Juneja,Anushaka,False,completed,20,NaN,NaN,2021-10-19 01:59:28,0 days 00:07:50
288,Menon,Kirtana,False,completed,20,NaN,NaN,2021-10-19 01:59:36,0 days 00:00:08
289,lee,megan,False,completed,20,NaN,NaN,2021-10-19 02:09:58,0 days 00:10:22
290,Ul Haq,Muhammad Inam,False,completed,20,NaN,NaN,2021-10-19 02:20:18,0 days 00:10:20
291,Henderson,Gabriel,False,completed,20,NaN,NaN,2021-10-19 02:45:51,0 days 00:25:33
292,vran,ethan,False,completed,20,NaN,NaN,2021-10-19 02:47:23,0 days 00:01:32
293,robertson,veronica,False,completed,20,NaN,NaN,2021-10-19 02:58:01,0 days 00:10:38
294,Thompson,emelia,False,completed,20,NaN,NaN,2021-10-19 03:25:00,0 days 00:26:59
274,Ruskowski,Ashley,False,completed,20,NaN,NaN,2021-10-19 03:25:14,0 days 00:00:14
297,Chen,Celine,False,completed,20,NaN,NaN,2021-10-19 04:28:52,0 days 01:03:38
295,Mann,Nehmat,False,completed,20,NaN,NaN,2021-10-19 04:36:03,0 days 00:07:11
298,Bestybay,Meruert,False,completed,20,NaN,NaN,2021-10-19 04:39:05,0 days 00:03:02
299,Gupta,Diya,False,completed,20,NaN,NaN,2021-10-19 04:41:42,0 days 00:02:37
300,Prakash,Ramana,False,completed,20,NaN,NaN,2021-10-19 04:45:40,0 days 00:03:58
301,santos,carolina,False,completed,20,NaN,NaN,2021-10-19 04:54:11,0 days 00:08:31
302,raj,Aryan,False,completed,20,NaN,NaN,2021-10-19 04:57:44,0 days 00:03:33
106,Kapoor,Yashwardhan,False,completed,20,NaN,NaN,2021-10-19 05:37:15,0 days 00:39:31
304,ghazanfar,hajira,False,completed,20,NaN,NaN,2021-10-19 05:49:30,0 days 00:12:15
296,N,Mayra,False,completed,20,NaN,NaN,2021-10-19 07:13:17,0 days 01:23:47
303,Mahajan,Saksham,False,completed,20,NaN,NaN,2021-10-19 10:37:47,0 days 03:24:30
306,Aula,Justin,False,completed,20,NaN,NaN,2021-10-19 17:38:47,0 days 07:01:00
201,Del Monte,Geraldine,False,completed,20,NaN,NaN,2021-10-19 17:54:07,0 days 00:15:20
26,Handa,Bhavya Yuvraj,False,completed,20,NaN,NaN,2021-10-19 18:56:41,0 days 01:02:34
308,sutherland,Sophie,False,completed,20,NaN,NaN,2021-10-19 19:03:46,0 days 00:07:05
46,Ellis,Hanna,False,completed,20,NaN,NaN,2021-10-19 19:04:38,0 days 00:00:52
14,Szarka,Julia,False,completed,20,NaN,NaN,2021-10-19 19:05:35,0 days 00:00:57
310,Sanderson,Brookelyn,False,completed,20,NaN,NaN,2021-10-19 19:05:50,0 days 00:00:15
309,Strength,Lily,False,completed,20,NaN,NaN,2021-10-19 19:07:47,0 days 00:01:57
312,Chan,Emily,False,completed,20,NaN,NaN,2021-10-19 19:08:05,0 days 00:00:18
311,Verhoeff,Annalies,False,completed,20,NaN,NaN,2021-10-19 19:08:22,0 days 00:00:17
68,Starck,Dominic,False,completed,20,NaN,NaN,2021-10-19 19:19:16,0 days 00:10:54
88,Head,Nathan,False,completed,20,NaN,NaN,2021-10-19 19:26:46,0 days 00:07:30
313,Chen,Michael,False,completed,20,NaN,NaN,2021-10-19 19:51:11,0 days 00:24:25
316,Courey,Gina,False,completed,20,NaN,NaN,2021-10-19 20:05:12,0 days 00:14:01
36,Ertam,Sarp,False,completed,20,NaN,NaN,2021-10-19 20:11:06,0 days 00:05:54
19,Mahmoud,Youssef,False,completed,20,NaN,NaN,2021-10-19 20:11:06,0 days 00:00:00
169,farsh,dina,False,completed,20,NaN,NaN,2021-10-19 20:23:14,0 days 00:12:08
318,khaksar,romina,False,completed,20,NaN,NaN,2021-10-19 20:30:04,0 days 00:06:50
18,Mohaisen,Salma,False,completed,20,NaN,NaN,2021-10-19 20:36:16,0 days 00:06:12
113,Gupta,Manya,False,completed,20,NaN,NaN,2021-10-19 20:43:09,0 days 00:06:53
320,stamberg,summer,False,completed,20,NaN,NaN,2021-10-19 20:47:49,0 days 00:04:40
319,Akalp,Sena,False,completed,20,NaN,NaN,2021-10-19 20:55:26,0 days 00:07:37
317,Azizli,Sevda,False,completed,20,NaN,NaN,2021-10-19 21:00:59,0 days 00:05:33
323,verma,arav,False,completed,20,NaN,NaN,2021-10-19 21:05:39,0 days 00:04:40
321,Chouhan,Jugraj,False,completed,20,NaN,NaN,2021-10-19 21:09:24,0 days 00:03:45
314,Liu,Lucy,False,completed,20,NaN,NaN,2021-10-19 21:11:46,0 days 00:02:22
325,NaN,Sum,False,completed,20,NaN,NaN,2021-10-19 21:12:47,0 days 00:01:01
64,Berry,Muskaan,False,completed,20,NaN,NaN,2021-10-19 21:19:02,0 days 00:06:15
10,Dolayba,Joey,False,completed,20,NaN,NaN,2021-10-19 21:24:15,0 days 00:05:13
17,Sabry,Aisha,False,completed,20,NaN,NaN,2021-10-19 21:30:26,0 days 00:06:11
305,Sarawagi,Aman,False,completed,20,NaN,NaN,2021-10-19 22:01:01,0 days 00:30:35
324,Dhruv,Dhruv,False,completed,20,NaN,NaN,2021-10-19 22:16:03,0 days 00:15:02
326,Sarawagi,Aman,False,completed,20,NaN,NaN,2021-10-19 22:18:11,0 days 00:02:08
322,Simonot,Veronica,False,completed,20,NaN,NaN,2021-10-19 22:22:30,0 days 00:04:19

In [48]:
3.481*11*24

918.9839999999999

In [88]:
names = list(sorted_df["First Name"])

predictions = []
import gender_guesser.detector as gender
d = gender.Detector()
for name in names:
  predictions.append(d.get_gender(name))

#results = Genderize().get(names)
#predictions = [entry["gender"] for entry in results]

#sorted_df["Gender"] = predictions

print("Males:", predictions.count("male") + predictions.count("mostly_male"))
print("Females:", predictions.count("female") + predictions.count("mostly_female"))
print("Unknown:", predictions.count("unknown"))

Males: 65
Females: 88
Unknown: 174

In [87]:
print(predictions)

['unknown', 'unknown', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'male', 'male', 'male', 'male', 'andy', 'male', 'male', 'unknown', 'female', 'female', 'male', 'female', 'unknown', 'unknown', 'female', 'mostly_female', 'female', 'male', 'unknown', 'unknown', 'female', 'male', 'female', 'unknown', 'unknown', 'female', 'male', 'unknown', 'female', 'female', 'female', 'female', 'unknown', 'female', 'male', 'male', 'unknown', 'female', 'female', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'male', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'male', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'unknown', 'mostly_female', 'unknown', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'unknown', 'female', 'mostly_female', 'male', 'unknown', 'male', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'mostly_male', 'mostly_female', 'unknown', 'mostly_male', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'female', 'female', 'male', 'female', 'unknown', 'unknown', 'mostly_male', 'unknown', 'unknown', 'unknown', 'male', 'female', 'unknown', 'male', 'male', 'unknown', 'unknown', 'female', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'mostly_male', 'unknown', 'male', 'unknown', 'female', 'unknown', 'female', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'mostly_male', 'male', 'unknown', 'female', 'unknown', 'male', 'female', 'male', 'mostly_male', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'male', 'unknown', 'male', 'unknown', 'male', 'female', 'unknown', 'unknown', 'female', 'female', 'female', 'mostly_male', 'unknown', 'unknown', 'female', 'unknown', 'female', 'female', 'female', 'female', 'unknown', 'unknown', 'male', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'unknown', 'male', 'male', 'unknown', 'unknown', 'female', 'female', 'unknown', 'unknown', 'female', 'male', 'unknown', 'male', 'unknown', 'male', 'unknown', 'male', 'male', 'unknown', 'female', 'unknown', 'unknown', 'unknown', 'female', 'male', 'female', 'female', 'unknown', 'unknown', 'mostly_female', 'unknown', 'female', 'female', 'male', 'female', 'unknown', 'female', 'female', 'unknown', 'unknown', 'female', 'unknown', 'female', 'unknown', 'female', 'unknown', 'unknown', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'unknown', 'female', 'male', 'mostly_female', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'unknown', 'unknown', 'unknown', 'mostly_female', 'unknown', 'unknown', 'female', 'unknown', 'male', 'unknown', 'male', 'unknown', 'unknown', 'female', 'unknown', 'male', 'unknown', 'unknown', 'female', 'female', 'female', 'female', 'unknown', 'female', 'female', 'female', 'male', 'male', 'unknown', 'male', 'female', 'male', 'male', 'unknown', 'unknown', 'female', 'female', 'unknown', 'female', 'female', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'male', 'female', 'male', 'unknown', 'male', 'female', 'unknown', 'female', 'unknown']